.headerText {
    font-weight: bold;
    color: rgb(22, 31, 19);
}
body {
    background-image: url('../img/fonHome.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    p{
        color: rgb(23, 26, 23);
    } 
    .text {
        background-color: rgba(148, 168, 226, 0.658);
    }
    
}