
body {
    background-image: url('../img/fonHome.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   .header {
       text-align: center;
       margin-top: 10px;
   }
   .totals {
     
       h4{
           text-align: center;
           color: rgb(252, 15, 15);
       }

   }
   .inputTotal {
       display: flex;
       justify-content: center;
       input {
           margin-top: 7px;
           border: royalblue 2px solid;
           border-radius: 5px;
           width: 60%;

       }
   }
.btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.individual_totals {
    h4{
        text-align: center;
        color: rgb(252, 15, 15);
    }
}
}